name: !!! هل هذا الاختبار يعمل ؟ !!!

on:
  push:
    branches: [ "main" ]

jobs:
  test_job:
    runs-on: ubuntu-latest
    steps:
      - name: خطوة اختبار بسيطة
        run: echo "إذا رأيت هذه الرسالة، فمعنى ذلك أن ملف main.yml قد تم تحديثه بنجاح."
